* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  src: url(./OpenSans/OpenSansRegular/OpenSansRegular.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  background:
    repeating-linear-gradient(to right,
      transparent 0 calc(25px - 1px),
      lightgrey calc(25px - 1px) 25px),

    repeating-linear-gradient(to bottom,
      transparent 0 calc(25px - 1px),
      lightgrey calc(25px - 1px) 25px) transparent;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}